.footer {
    padding: 0 48px;
    margin-top: 64px;
    &__upper {
        gap: 48px;
        display: flex;
        &-item {
            display: flex;
            flex-direction: column;
            h4 {
                margin-bottom: 12px;
            }
            a {
                &:hover {
                    color: $primary-red;
                }
            }
        }
        @media (max-width: $screen-md-min) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $screen-sm-min) {
            grid-template-columns: 1fr;
        }
    }
}
