.single-product__information {
    margin-top: 96px;
    &-tabs {
        margin-bottom: 48px;
        position: relative;
        border-bottom: 1px solid $primary-red;
        display: inline-flex;
        &-tab {
            display: block;
            transition: All 0.3s ease-in-out;
            text-decoration: none;
            color: $primary-black;
            font-size: 18px;
            padding: 12px 24px;
            cursor: pointer;
            &.js-active,
            &:hover {
                color: $primary-red;
            }
            h4 {
                text-transform: uppercase;
                font-weight: 500;
                white-space: nowrap;
            }
        }

        .js-hover-line {
            pointer-events: none;
            left: 0;
            transition: All 0.3s ease-in-out;
            height: 3px;
            background-color: $primary-red;
            bottom: 0;
            position: absolute;
        }
        @media (max-width: $screen-md-min) {
            overflow-x: scroll;
            display: flex;
        }
    }
    &-content {
        &-item {
            &.js-hidden {
                display: none;
            }
        }
    }
}

.additional-information {
    display: flex;
    gap: 48px;
    &-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        h4 {
            margin-bottom: 12px;
        }
        .product-info {
            ul {
                display: flex;
                flex-direction: column;
                gap: 4px;
                li {
                    strong {
                        font-weight: 600;
                    }
                    font-size: 16px;
                    @media (max-width: $screen-md-min) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &-right {
        width: 50%;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__user-review {
        border-bottom: 1px solid $primary-light-gray;
        padding: 0 0 12px 0;
        &-name {
            font-size: 19px;
            font-weight: 500;
            display: flex;
            gap: 4px;
            align-items: center;
            svg {
                width: 18px;
                height: 18px;
                fill: $primary-medium-gray;
            }
            .thumbs-up {
                fill: $primary-red;
            }
        }
        &-comment {
            font-size: 16px;
            font-weight: 300;
        }
        &-remove {
            font-size: 12px;
            color: $primary-medium-gray;
            &:hover {
                color: $primary-red;
            }
        }
    }
}

#review_form_wrapper {
    margin-top: 48px;
}

.comment-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    &-author,
    &-email {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        input {
            height: 20px;
            border: 0;
            border-bottom: 1px solid $primary-black;
            &:focus {
                border-bottom: 1px solid $primary-red;
            }
        }
    }
    &-comment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        textarea {
            width: 100%;
            max-width: 600px;
            height: 20px;
            border: 0;
            border-bottom: 1px solid $primary-black;
            resize: vertical;
            &:focus {
                border-bottom: 1px solid $primary-red;
            }
        }
    }
    &-rating {
        display: flex;
        gap: 8px;
        input[type="checkbox"]:checked + label {
            svg {
                fill: $primary-red;
            }
        }
        svg {
            width: 18px;
            height: 18px;
            cursor: pointer;
            fill: $primary-medium-gray;
            &:hover {
                fill: $primary-red;
            }
        }
        .thumbs-up,
        .thumbs-down {
            input {
                display: none;
            }
        }
        .like-text {
            margin-left: 4px;
            font-weight: 500;
        }
    }

    &__button {
        border: 0;
        outline: 0;
        background-color: $primary-light-gray;
        color: $primary-medium-gray;
        padding: 12px 24px;
        pointer-events: none;
        &.js-active {
            pointer-events: unset;
            background-color: $primary-red;
            color: $primary-white;
            cursor: pointer;
        }
    }
}
