$primary-white: #ffffff;
$primary-black: #000;
$primary-red: #800000;
$primary-red-hover: #4d0009;
$primary-gray: #5a5a5a;
$primary-dark-gray: #727272;
$primary-medium-gray: #8f8f8f;
$primary-light-gray-2: #e5e5e5;
$primary-light-gray: #f2f2f2;

//Box shadows

$box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.16);
$box-shadow-2: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);